@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --dark: #1C2126;
  --grey: #20252B;
  --greenBet: #5DB76E;
  --redBet: #D4594C;
  --blackBet: #393939;
  --blueButton: #1475E1;
}

#root {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--dark);
}

#blur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#wall {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  background-color: transparent;
  filter: 'blur(2px)';
}

/* Header */
/* Header */
/* Header */

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 73px;
  background-color: var(--grey);
  z-index: 1111;
}

.user-coins-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 380px;
  top: 50%;
  transform: translateY(-50%);
}

.user-name,
.user-coins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  font-size: 14px;
}

.user-coins {
  font-weight: 500;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  top: 0;
  height: 100%;
}

.header-buttons button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 15px;
}

.chat-toggle-header {
  display: none;
}

.chat-toggle-header svg {
  font-size: 30px;
}

.coins-image-header {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

#register-button {
  background-color: var(--blueButton);
  border-radius: 10px;
  transition: .3s;
}

#register-button:hover {
  background-color: #2a7edd;
}

button.logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blueButton);
  border-radius: 6px;
  transition: .3s;
  margin-left: 12px;
  padding: 14px 26px;
  font-size: 18px;
}

button.logout:hover {
  background-color: #2a7edd;
}

/* Chat */
/* Chat */
/* Chat */

.chat {
  position: absolute;
  left: -360px;
  bottom: 0;
  width: 360px;
  height: 864px;
  transition: .3s;
}

.chat-active {
  left: 0;
}

#chat-container {
  position: absolute;
  left: 0;
  bottom: 64px;
  width: 100%;
  height: 800px;
  background-color: var(--grey);
  overflow: hidden;
}

.chat form,
.login-chat {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background-color: var(--grey);
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.login-chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.chat form input {
  background-color: var(--grey);
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  color: white;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-grow: 1;
  padding: 4px;
  font-size: 14px;
}

.message .user-nickname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 100%;
  font-weight: 500;
}

.message .msg {
  height: 51px;
  width: 273px;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: 500;
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 79px;
}

.avatar img {
  width: 70px;
  height: 70px;
}

.chat-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 64px;
  height: 64px;
  background-color: var(--grey);
  border-radius: 0 6px 6px 0;
  z-index: 1151;
  border: 1px solid grey;
  border-left: none;
  font-size: 40px;
  cursor: pointer;
}

/* Roulette */
/* Roulette */
/* Roulette */


#free-coins {
  background-color: var(--blueButton);
  padding: 14px;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  margin-right: 12px;
  border: none;
}

#free-coins:hover {
  opacity: 0.8;
}

.last-100-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  width: 200px;
  height: 40px;
  color: white;
}

.last-100-container .text {
  font-size: 14px;
  font-weight: 400;
}

.last-100-red,
.last-100-green,
.last-100-black {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
}

.red-dot,
.green-dot,
.black-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 6px;
}

.red-dot {
  background-color: var(--redBet);
}

.green-dot {
  background-color: var(--greenBet);
}

.black-dot {
  background-color: var(--blackBet);
}

.roulette {
  position: absolute;
  right: 0;
  top: 73px;
  height: calc(100% - 73px);
  width: calc(100% - 360px);
  overflow: hidden;
  background-color: var(--dark);
  transition: .3s;
}

.left-brick {
  position: absolute;
  left: 0;
  top: 65px;
  width: 30px;
  height: 140px;
  background-color: var(--dark);
  z-index: 999;
}

.right-brick {
  position: absolute;
  right: 0;
  top: 65px;
  width: 30px;
  height: 140px;
  background-color: var(--dark);
  z-index: 999;
}

.roulette-container {
  position: absolute;
  left: 50%;
  top: 69px;
  transform: translateX(-50%);
  width: 1472px;
  height: 100px;
  overflow: hidden;
}

.roulette-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  z-index: 99;
  color: white;
}

.active-roll::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-color: yellow;
}

#bet-history-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 172px;
  left: 50%;
  transform: translateX(-50%);
  height: 36px;
  width: 77%;
  border-radius: 6px;
  overflow: hidden;
}

#bet-history {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.last-bet {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 6px;
}

.roulette-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 210px;
  transform: translateX(-50%);
  width: 80%;
  height: 74%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bet-value-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: var(--grey);
  overflow: hidden;
  border-radius: 6px;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.bet-value-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
}

.bet-value-input img {
  width: 55px;
}

#betValue {
  border: none;
  outline: none;
  margin: 0;
  background-color: var(--grey);
  color: white;
  padding: 10px;
  width: 100%;
}

.bet-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin-right: 6px;
}

.bet-value-button {
  background-color: #383D46;
  border: none;
  padding: 11px 16px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
}

.clear {
  background-color: transparent;
}

.bet-placing-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  max-height: 584px;
  width: 100%;
}

.red-bet,
.green-bet,
.black-bet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  width: 30%;
  height: 90%;
  transition: .3s;
}

.red-bet button,
.green-bet button,
.black-bet button {
  border: none;
  width: 100%;
  color: white;
  height: 60px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 6px;
  transition: .3s;
  font-weight: 700;
}

.red-bet button {
  background-color: var(--redBet);
  box-shadow: 0 3px 0 0 #c42918;
}

.green-bet button {
  background-color: var(--greenBet);
  box-shadow: 0 3px 0 0 #389248;
}

.black-bet button {
  background-color: var(--blackBet);
  box-shadow: 0 3px 0 0 #161313;
}

.red-bet button:hover,
.green-bet button:hover,
.black-bet button:hover {
  opacity: .8;
}

.coins-bet-red,
.coins-bet-green,
.coins-bet-black {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 90%;
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
}

.coins-bet-red img,
.coins-bet-green img,
.coins-bet-black img {
  height: 24px;
  width: 24px;
}

img.coins-image {
  width: 35px;
  height: 35px;
}

#black-bets-container,
#green-bets-container,
#red-bets-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}
.green-bets,
.red-bets,
.black-bets {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.user-bet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  color: white;
}

.user-bet .user-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.user-avatar img {
  width: 24px;
  height: 24px;
}

.user-bet .bet-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.bet-amount {
  font-weight: 400;
}

.user-bet .bet-amount img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
/* Login/Register Panel */
/* Login/Register Panel */
/* Login/Register Panel */

#login-panel,
#register-panel {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: var(--grey);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .2);
  z-index: 999;
}

#register-panel {
  height: 420px;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: var(--grey);
  padding: 4px 8px;
  color: white;
  cursor: pointer;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form input,
.register-form input {
  height: 60px;
  width: 80%;
  background-color: var(--dark);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  overflow: hidden;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.login-form .submit-login-button,
.register-form .submit-register-button {
  height: 60px;
  width: 80%;
  background-color: var(--blueButton);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.login-form .submit-login-button:hover,
.register-form .submit-register-button:hover {
  background-color: #2a7edd;
}

@media (max-width: 1390px) {
  .bet-buttons button:nth-child(2),
  .bet-buttons button:nth-child(3),
  .bet-buttons button:nth-child(4),
  .bet-buttons button:nth-child(5) {
    display: none;
  }

  .bet-buttons {
    width: 240px;
  }
}

@media (max-width: 1080px) {

  .chat-toggle {
    display: none;
  }

  .chat-toggle-header {
    display: block;
  }

  .chat {
    left: -100%;
    width: 100%;
    z-index: 1000;
    height: 100%;
  }

  .chat-active {
    left: 0;
  }

  .header-buttons {
    right: 10px;
  }
  .user-coins-container {
    left: 10px;
  }
}

@media (max-width: 540px) {

  .roulette-panel {
    height: 65%;
    justify-content: center;
  }

  #red-bets-container,
  #green-bets-container,
  #black-bets-container,
  .bet-buttons button:nth-child(6),
  .header-buttons .user-name {
    display: none;
  }

  .red-bet,
  .green-bet,
  .black-bet {
    width: 100%;
    justify-content: center;
  }

  div.bet-placing-section {
    max-height: 500px;
    flex-direction: column;
  }

  .bet-buttons {
    width: 200px;
  }

  .bet-value-input {
    width: 100px;
  }

  img.coins-image {
    width: 24px;
    height: 24px;
  }

  .bet-value-section {
    width: 100%;
  }

  button.logout {
    padding: 12px;
  }

  #free-coins {
    padding: 10px;
    font-size: 12px;
  }

  .user-coins {
    font-size: 12px;
  }
}

@media (max-height: 760px) and (max-width: 1080px) {
  div.bet-placing-section {
    max-height: 260px;
  }

  .roulette-panel {
    height: 53%;
    justify-content: space-between;
  }

  .red-bet button,
  .green-bet button,
  .black-bet button {
    height: 40px;
    width: 90%;
  }
}

@media (min-height: 1000px) and (max-width: 1080px) {
    #chat-container {
    height: calc(100% - 73px);
  }
}